.task-editor-modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 60;
    background-color: #0000008e;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-editor-modal {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* border-radius: 25px; */
    border: 8px solid #f0c400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-editor-modal__header {
    width: 100%;
    height: 7%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-editor-modal__title {
    width: 80%;
    height: 10%;
    font-size: 26px;
    color: #d1ab00;
    display: flex;
    justify-content: center;
    align-items: center;
}



.task-editor-modal__button.close-modal-btn {
    width: 40px;
    height: 40px;
    background-color: #b40000;
    color: #fff;
}

.task-editor-modal__button.close-modal-btn:hover {
    cursor: pointer;
    outline: 3px solid #ff0000;
    color: #ff0000;
}

.task-editor-modal__content {
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    padding: 10px 0;
}

.task-editor-modal__block {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.task-editor-modal__label {
    color: #d1ab00;
}

.task-editor-modal__input {
    outline: none;
    border: 2px solid #d1ab00;
    padding: 0 1px;
    color: #d1ab00;
}

.task-editor-modal__select {
    outline: none;
    border: 2px solid #d1ab00;
    padding: 0 1px;
    color: #d1ab00;
    cursor: pointer;
}

.task-editor-modal__select .multi-select__dropdown,
.task-editor-modal__select .custom-select__dropdown {
    background-color: #d1ab00;
    color: #fff;
}


.task-editor-modal__input:focus {
    outline: 2px solid #fbff00;
}

.task-name-input {
    width: 70%;
}

.task-editor-modal__buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cancel-edit-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

.confirm-edit-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3bd100;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

.confirm-reupload-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e600c7;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

.confirm-edit-button:hover {
    background-color: #288d00;
}

.cancel-edit-button:hover {
    background-color: #920000;
}

.confirm-reupload-button:hover {
    background-color: #a100a1;
}

.task-editor-modal .multi-select__option:hover,
.task-editor-modal .custom-select__option:hover {
    background-color: #ffa600 !important;
}

.task-editor-modal .multi-select__option.selected,
.task-editor-modal .custom-select__option.selected {
    background-color: #fffb00;
    color: #0f43f0;
}

.task-editor-modal__button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.task-editor-modal__select.task-category-select {
    width: 55%;
}

.task-editor-modal__select.task-user-select {
    width: 32%;
}

.task-editor-modal__list.task-user-list {
    width: 80%;
    border: 2px solid #d1ab00;
    color: #d1ab00;
}

.task-editor-modal__list.task-user-list .interactive-list__option.selected {
    background-color: #fffb00;
}


.task-editor-modal {

    .notification-settings {
        width: 80%;
        border: 2px solid #d1ab00;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .notification-settings h1 {
        width: 100%;
        background-color: #d1ab00;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 0;
        user-select: none;
    }

    .notification-settings__button.add-button {
        border: 2px solid #d1ab00;
        color: #d1ab00;
        padding: 0 16px;
        margin: 5px;
        cursor: pointer;
    }

    .notification-settings__button.add-button:hover {
        background-color: #d1ab00;
        color: #fff;
    }

    .notification-settings__notification-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .notification-settings__notification {
        width: 95%;
        display: flex;
        color: #d1ab00;
        border: 2px solid #d1ab00;
        /* padding: 5px; */
    }

    .notification-settings__number {
        display: flex;
        height: 100%;
        display: flex;
        justify-content: center;
        /* border-right: 2px solid #0b0bdb; */
        padding: 5px 5px;
    }

    .notification-settings__block {
        padding: 5px;
        display: flex;
        align-items: center;
        border-left: 2px solid #d1ab00;
        /* border-right: 2px solid #d1ab00; */
    }

    .notification-settings__block:last-of-type {
        border-right: 2px solid #d1ab00;
    }

    .notification-settings__input {
        border: 2px solid #d1ab00;
        max-width: 60px;
        outline: none;
        margin: 0 5px;
    }

    .notification-settings__input:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    .notification-settings__input:focus {
        outline: 2px solid #00eeff;
    }

    .notification-settings__button.remove-notification-btn {
        cursor: pointer;
        background-color: #fff;
        color: #ff0000;
        /* border: 1px solid #0b65db; */
        padding: 0 5px;
    }

    .notification-settings__button.remove-notification-btn:hover {
        background-color: #ff0000;
        color: #fff;
    }

    .notification-settings__block.status-activated {
        /* background-color: #288d00; */
        color: #288d00;
    }

    .notification-settings__block.status-waiting {
        color: #5f049c;
    }

    .notification-settings__block.status-new {
        color: #22a800;
        font-weight: bold;
    }

}

.task-editor-modal__overlay.reupload-mode {

    .task-editor-modal {
        border-color: #a500e6;
    }

    .task-editor-modal__title {
        font-size: 21px;
        color: #a500e6;
    }

    .task-editor-modal__content {

        .task-editor-modal__input,
        .task-editor-modal__label,
        .task-editor-modal__select {
            color: #a500e6;
            border-color: #a500e6;
            outline-color: #e600e6;
        }
    }

    .task-editor-modal .multi-select__option,
    .task-editor-modal .custom-select__option {
        background-color: #8a00e6;
        color: #fff;
    }

    .task-editor-modal .multi-select__option:hover,
    .task-editor-modal .custom-select__option:hover {
        background-color: #b800e6;
        color: #fff;
    }

    .task-editor-modal .multi-select__option.selected,
    .task-editor-modal .custom-select__option.selected {
        background-color: #e600c7;
        color: #ffffff;
    }

    .task-editor-modal__select .multi-select__dropdown,
    .task-editor-modal__select .custom-select__dropdown {
        background-color: #ffffff;
    }

    .task-editor-modal__notification.reupload-task-notification {
        width: 90%;
        background-color: #a500e6;
        color: #fff;
        text-align: center;
        padding: 10px;
        user-select: none;
    }

    .task-editor-modal__list.task-user-list {
        width: 80%;
        border: 2px solid #a500e6;
        color: #a500e6;
    }

    .task-editor-modal__list.task-user-list .interactive-list__option.selected {
        background-color: #e600c7;
        color: #fff;
    }



    .notification-settings {
        width: 80%;
        border: 2px solid #a500e6;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .notification-settings h1 {
        width: 100%;
        background-color: #a500e6;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 0;
        user-select: none;
    }

    .notification-settings__button.add-button {
        border: 2px solid #a500e6;
        color: #a500e6;
        padding: 0 16px;
        margin: 5px;
        cursor: pointer;
    }

    .notification-settings__button.add-button:hover {
        background-color: #a500e6;
        color: #fff;
    }

    .notification-settings__notification-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .notification-settings__notification {
        width: 95%;
        display: flex;
        color: #a500e6;
        border: 2px solid #a500e6;
        /* padding: 5px; */
    }

    .notification-settings__number {
        display: flex;
        height: 100%;
        display: flex;
        justify-content: center;
        /* border-right: 2px solid #0b0bdb; */
        padding: 5px 5px;
    }

    .notification-settings__block {
        padding: 5px;
        display: flex;
        align-items: center;
        border-left: 2px solid #a500e6;
        /* border-right: 2px solid #a500e6; */
    }

    .notification-settings__block:last-of-type {
        border-right: 2px solid #a500e6;
    }

    .notification-settings__input {
        border: 2px solid #a500e6;
        max-width: 60px;
        outline: none;
        margin: 0 5px;
    }

    .notification-settings__input:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    .notification-settings__input:focus {
        outline: 2px solid #00eeff;
    }

    .notification-settings__button.remove-notification-btn {
        cursor: pointer;
        background-color: #fff;
        color: #ff0000;
        /* border: 1px solid #0b65db; */
        padding: 0 5px;
    }

    .notification-settings__button.remove-notification-btn:hover {
        background-color: #ff0000;
        color: #fff;
    }

    .notification-settings__block.status-activated {
        /* background-color: #288d00; */
        color: #288d00;
    }

    .notification-settings__block.status-waiting {
        color: #5f049c;
    }

}



.task-editor-modal .--desktop-only {
    display: none;
}

.task-editor-modal .--mobile-only {
    display: inherit;
}

.task-editor-modal__block.complete-before-datetime-block {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

@media (min-width: 1024px) {

    .task-editor-modal .--mobile-only {
        display: none;
    }

    .task-editor-modal .--desktop-only {
        display: inherit;
    }

    .task-editor-modal__block.complete-before-datetime-block {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 0;
    }

    .task-editor-modal {
        width: 50%;
        height: 70%;
        border-radius: 25px;



    }

    .task-editor-modal__header {
        height: 10%;
    }

    .task-editor-modal__title {
        font-size: 26px;
        width: 90%;
    }

    .task-name-input {
        width: 50%;
    }

    .task-category-select {
        width: 50%;
    }

    .task-user-select {
        width: 50%;
    }

    .task-editor-modal__buttons {
        align-items: center;
    }

}