.interactive-list {
    display: inline-block;
    min-width: 100px;
    width: stretch auto;
    position: relative;
    user-select: none;
    /* padding: 4px 6px; */
}

.interactive-list__display {
    display: flex;
}

.interactive-list__display-left {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.interactive-list__display-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 5px;
}

.interactive-list__dropdown {
    margin-top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: inherit;
    z-index: 20;
    cursor: default;
    display: none;
}

.interactive-list__option {
    display: flex;
    align-items: left;
    width: 100%;
    padding: 3px 7px;
    pointer-events: all;
}

.interactive-list__option input[type=checkbox] {
    margin-right: 6px;
}
/* 
.interactive-list__option:hover {
    background-color: #0077ff;
}

.interactive-list__option.selected {
    background-color: #7e7e7e;
} */

.interactive-list.expanded .interactive-list__dropdown {
    display: block;
}

.interactive-list__option.button:hover {
    background-color: #0077ff;
    cursor: pointer;
}