.category-list-modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000098;
    z-index: 60;
}

.category-list-modal {
    /* width: 60%;
    height: 80%; */
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* border-radius: 10px; */
    border: 10px solid #0b0bdb;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.category-list-modal__header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #0b0bdb;
}

.category-list-modal__content {
    /* width: 70%; */
    width: 90%;
    height: 78%;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
    gap: 10px;
    border: 4px solid #0b0bdb;
    padding: 10px 0;
    
    overflow-y: auto;
}

.category-list-modal__user {
    width: 90%;
    height: 50px;
    background-color: #00aeff;
    color: #0b0bdb;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    outline: 4px solid transparent;
    transition: all 0.25s ease 0s;
}

.category-list-modal__username {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.category-list-modal__user:hover {
    /* cursor: pointer; */
    outline-color: #003cff;
}


.add-user-btn {
    justify-content: center;
    margin-top: 13px;
    cursor: pointer;
}

.category-list-modal__user-creation-form {
    width: 90%;
    position: relative;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.category-list-modal__input {
    width: 70%;
    border: 4px solid #003cff;
    color: #003cff;
    font-size: 20px;
    outline: none;
}

.category-list-modal__input:focus {
    outline: 2px solid #00eeff;
}

.category-list-modal__button {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}

.category-list-modal__button.confirm-add-user {
    background-color: #009b00;
    color: #fff;
}

.category-list-modal__button.cancel-add-user {
    background-color: #9b0000;
    color: #fff;
}

.category-list-modal__button.confirm-add-user:hover {
    outline: 4px solid #00ff00;
}

.category-list-modal__button.cancel-add-user:hover {
    outline: 4px solid #ff0000;
}

.category-list-modal__title {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal-button {
    width: 35px;
    height: 35px;
    background-color: #9b0000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.close-modal-button:hover {
    outline: 3px solid #ff0000;
    color: #ff0000;
}

.user-delete-btn {
    width: 40px;
    height: 40px;
    background-color: #7e0000;
    color: #fff;
}

.user-delete-btn:hover {
    cursor: pointer;
    outline: 2px solid #ff0000;
    color: #ff0000;
}

.category-list-modal__user.to-delete {
    outline: 7px solid #ff0000;
}


.category-list-modal__user.delete-mode {
    opacity: 0.5;
    pointer-events: none;
}

.category-list-modal__label.delete-user-notification {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
}


@media (min-width: 1024px) {

    .category-list-modal {
        width: 60%;
        height: 80%;
        border-radius: 10px;
    }

    .category-list-modal__content {
        width: 70%;
    }

    .category-list-modal__user-creation-form {
        width: 100%;
    }

    .category-list-modal__label.delete-user-notification {
        font-size: 20px;
    }

}