.floating-action-btn {
    position: absolute;
    /* top: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 10px; */
    /* width: 50%; */
    /* padding: 10px; */
    background-color: #0b0bdb;
    border: 2px solid #00eeff;
    font-size: 50px;
    color: #00eeff;
    cursor: pointer;
    z-index: 50;
}

.floating-action-btn__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    /* rotate: 0deg; */
    transform-origin: 50% 49%;
    margin: 0;
    padding: 0;
    scale: 1;
}

.floating-action-btn__content.--mobile-only {
    font-size: 22px;
}

.floating-action-btn:hover .floating-action-btn__content.--desktop-only {
    scale: 1.4;
    /* rotate: 225deg; */
}

.floating-action-btn__content.--mobile-only {
    display: flex;
}

.floating-action-btn__content.--desktop-only {
    display: none;
}

@media (max-width: 1023px) {

    .floating-action-btn {
        top: auto !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        margin: 10px;
    }

}

@media (min-width: 1024px) {

    .floating-action-btn {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #0b0bdb;
        border: 8px solid #00eeff;
        font-size: 50px;
        color: #00eeff;
        cursor: pointer;
        z-index: 50;
    }

    .floating-action-btn__content.--mobile-only {
        display: none;
    }

    .floating-action-btn__content.--desktop-only {
        display: flex;
    }

}