.task-block {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    border-bottom: 4px solid #0066ff;
    background-color: #fff;
}

.task-block.completed {
    background-color: #cfffcb;
}


.task-block.rejected {
    background-color: #ffe7e0;
}

.task-block__left {
    /* width: 35%; */
    width: 76%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* padding: 0 10px; */
    justify-content: left;
}

.task-block__right {
    width: 65%;
    height: 100%;
    display: none;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    gap: 10px;
}

.task-block__right-mobile {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    /* gap: 10px; */
    /* border-left: 5px solid #00eeff; */
    /* background-color: #00eeff; */
}

/* .task-block__button.more-data-button {
    padding: 10px 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    // background-color: #ff0000; //
    // height: 100%; //
} */

.task-block__idx {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00eeff;
    color: #0c00af;
    font-weight: bold;
}

.task-block__name {
    /* font-size: 17px; */
    font-size: 15px;
    color: #003cff;
}


.task-block__infobox {
    width: 100%;
    height: 70%;

    /* width: 100%; */
    /* padding: 0 50px; */
    /* font-size: ; */
    /* background-color: #003cff; */
    /* border: 1px solid #0066ff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 6px; */
    user-select: none;
}

.task-block__infobox-label {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.72rem;
    /* font-size: 12px; */
    color: #0066ff;
}

.task-block__infobox-label.rejected {
    font-size: 0.79rem;
    font-weight: bold;
}

.task-block__infobox-value {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #0066ff;
    font-weight: bold;
}

.task-block__infobox.users-infobox,
.task-block__infobox.users-infobox-mobile {
    max-width: 680px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #0066ff;
}

.task-block__infobox.users-infobox-mobile {
    border: none;
}

.task-block__infobox.users-infobox .task-block__user,
.task-block__infobox.users-infobox-mobile .task-block__user {
    background-color: #0066ff;
    border-radius: 5px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-left: 3px;
    cursor: pointer;
}

.task-block__buttons {
    height: 75px;
    border: 1px solid #0066ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 5px;
    border-radius: 6px;
    gap: 1px;
}

.task-block__button {
    width: 100%;
    height: 30%;
    /* border: 1px solid #0066ff; */
    padding: 0 10px;
    /* border-radius: 6px; */
    cursor: pointer;
    transition: all 0.2s ease 0s;
}



.task-block__button.complete-btn {
    background-color: #0066ff;
    color: #fff;
}

.task-block__button.complete-btn:hover {
    background-color: #0054b4;
}

.task-block__button.complete-btn.completed {
    background-color: #0d9c00;
    color: #fff;
}

.task-block__button.complete-btn.completed:hover {
    background-color: #0a7c00;
}

.task-block__button.complete-btn.rejected {
    background-color: #bb6a00;
    color: #fff;
}

.task-block__button.complete-btn.rejected:hover {
    background-color: #804900;
}

.task-block__button.edit-btn {
    background-color: #a19e00;
    color: #fff;
}

.task-block__button.edit-btn:hover {
    background-color: #585200e5;
}

.task-block__button.reupload-btn {
    background-color: #7900a8;
    color: #fff;
}

.task-block__button.reupload-btn:hover {
    background-color: #42005c;
}

.task-block__button.delete-btn {
    background-color: #a10000;
    color: #fff;
}

.task-block__button.delete-btn:hover {
    background-color: #580000e5;
}

.complete-before-date {
    color: #cf0000;
}




.task-block__button.cancel-delete-btn {
    width: 100%;
    height: 100%;
    background-color: #0da100;
    color: #fff;
}

.task-block__button.confirm-delete-btn {
    width: 100%;
    height: 100%;
    background-color: #a10000;
    color: #fff;
}

.task-block__button.cancel-delete-btn:hover {
    background-color: #15ff00;
}

.task-block__button.confirm-delete-btn:hover {
    background-color: #ff0000;
}




.task-block__button.confirm-complete-btn {
    width: 100%;
    height: 100%;
    background-color: #0da100;
    color: #fff;
}

.task-block__button.cancel-complete-btn {
    width: 100%;
    height: 100%;
    background-color: #a10000;
    color: #fff;
}

.task-block__button.confirm-complete-btn:hover {
    background-color: #15ff00;
}

.task-block__button.cancel-complete-btn:hover {
    background-color: #ff0000;
}

.task-block__infobox-label.completed-at,
.task-block__infobox-value.completed-at {
    color: #0c8d00;
}


.task-block__dropdown.more-data-dropdown .simple-dropdown__dropdown {
    position: absolute;
    left: auto;
    right: 0;
    width: auto;
    margin-top: 5px;
    border: 5px solid #0066ff;
    gap: 10px;
    z-index: 600;
}

.task-block__dropdown.more-data-dropdown {
    /* position: relative; */
    width: 100%;
    height: 50%;
}

.task-block__dropdown.more-data-dropdown .simple-dropdown__button,
.task-block__button.more-data-button {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003cff;
    /* background-color: #ff0000; */
    /* height: 100%; */
}

.task-block__dropdown.more-data-dropdown.expanded .simple-dropdown__button {
    background-color: #0066ff;
    color: #fff;
}





.task-block__dropdown.more-data-dropdown {


    .task-block__infobox {
        width: 100%;
        padding: 0 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .task-block__infobox-label {
        font-size: 13px;
    }

    .task-block__infobox-value {
        font-size: 16px;
    }

    .task-block__infobox.users-infobox {
        width: 90%;
        flex-direction: column;
        padding: 10px 0;
    }

    .task-block__infobox.date-infobox {
        flex-direction: row;
    }

    .task-block__infobox-mobile-item {
        padding: 0 10px;
    }

    .task-block__infobox-mobile-item:last-child {
        border-left: 2px solid #0400ff;
    }

    .task-block__buttons {
        width: 100%;
        border: none;
        border-radius: 0;
        height: auto;
    }

    .task-block__button {
        padding: 3px 0;
    }


}

.task-block__description {
    display: none;
}

.task-block__data.--mobile-only {
    width: 95%;
    border: 2px solid #0066ff;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    color: #006eb8;


    .task-block__infobox {
        /* width: 50%; */
        height: 100%;
    }

    .task-block__infobox-value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


}

.task-block__modal-mobile-data {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.task-block__buttons {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: none;
    border-radius: 0;
    height: auto;
}

.task-block__button {
    padding: 5px 0;
    border-radius: 0;
}


.task-info-modal .task-block__button.close-btn {
    background-color: #0047b1;
    color: #fff;
}

.task-info-modal__overlay {
    display: flex !important;
}

@media (min-width: 1024px) {

    .task-info-modal__overlay {
        display: none !important;
    }

    .task-block__description.--mobile-only {
        display: none;
    }

    .task-block__info {

        display: flex;
        flex-direction: column;
        gap: 5px;

        .task-block__name {
            font-size: 15px;
            font-weight: bold;
        }

        .task-block__description {
            display: block;
            cursor: pointer;
            max-width: 420px;
            font-size: 14px;
            color: #006eb8;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: all 0.15s ease 0s;
            border-radius: 10px;
        }

    }

    .task-block {
        transition: height 0.2s ease 0s;
    }

    .task-block.expanded {
        height: auto;
        justify-content: start;
    }

    .task-block.expanded .task-block__idx {
        height: 100%;
    }

    .task-block.expanded .task-block__left {
        position: relative;
        height: inherit;
        justify-content: start;
    }

    .task-block.expanded .task-block__description {
        white-space: wrap;
        border: 2px solid #006eb8;
        padding: 5px 7px 7px 7px;
        margin-bottom: 15px;
    }

    .task-block.expanded .task-block__description::before {
        content: "Описание:";
        display: block;
        position: relative;
        font-weight: bold;
    }

    .task-block__right {
        display: flex;
    }

    .task-block__right-mobile {
        display: none;
    }

    .task-block__left {
        width: 35%;
    }

    .task-block__infobox {
        width: auto;
        height: auto;
        min-width: 50px;
        min-height: 40px;
        padding: 0 10px;
        border: 1px solid #0066ff;
        border-radius: 6px;
    }

    .task-block__infobox.category-infobox {
        max-width: 220px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .task-block__buttons {
        width: auto;
        height: 75px;
        border: 1px solid #0066ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 2px 5px;
        border-radius: 6px;
        gap: 1px;
    }

    .task-block__button {
        width: 100%;
        height: 30%;
        /* border: 1px solid #0066ff; */
        padding: 0 10px;
        /* border-radius: 6px; */
        cursor: pointer;
        transition: all 0.2s ease 0s;
    }

    .task-block__buttons .task-block__button:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .task-block__buttons .task-block__button:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

}


.task-block.completed {

    .task-block__idx {
        background-color: #0d9700;
        color: #ffffff;
    }

    .task-block__name {
        color: #0d9700;
    }

    .task-block__description {
        color: #0d9700;
        border-color: #0d9700;
    }


    .task-block__infobox,
    .task-block__buttons {
        border-color: #0d9700;
    }

    .task-block__infobox-label,
    .task-block__infobox.category-infobox .task-block__infobox-value,
    .task-block__button.more-data-button {
        color: #0d9700;
    }

    .task-info-modal {

        border-color: #0d9700;

        * {
            border-color: #0d9700;
        }

        .task-block__infobox-label,
        .task-block__infobox.category-infobox .task-block__infobox-label,
        .task-info-modal__title,
        .task-block__data.--mobile-only {
            color: #0d9700;
        }

    }

}

.task-block.rejected {

    .task-block__idx {
        background-color: #c40000;
        color: #ffffff;
    }

    .task-block__name {
        color: #c40000;
    }

    .task-block__description {
        color: #c40000;
        border-color: #c40000;
    }

    .task-block__infobox,
    .task-block__buttons {
        border-color: #c40000;
    }

    .task-block__infobox-label,
    .task-block__infobox.category-infobox .task-block__infobox-value,
    .task-block__button.more-data-button {
        color: #c40000;
    }

    .task-info-modal {
        border-color: #c40000;
    }

    .task-info-modal {

        border-color: #c40000;

        * {
            border-color: #c40000;
        }

        .task-block__infobox-label,
        .task-block__infobox.category-infobox .task-block__infobox-label,
        .task-info-modal__title,
        .task-block__data.--mobile-only {
            color: #c40000;
        }

    }

}