.multi-select {
    display: inline-block;
    min-width: 100px;
    width: stretch auto;
    position: relative;
    user-select: none;
    /* padding: 4px 6px; */
}

.multi-select__display {
    display: flex;
}

.multi-select__display-left {
    width: 90%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: left;
}

.multi-select__display-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 5px;
}

.multi-select__dropdown {
    margin-top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: inherit;
    z-index: 20;
    cursor: default;
    display: none;

    max-height: 150px;
    overflow-y: auto;
}

@media (min-width: 1024px) {

    .multi-select__dropdown {
        max-height: 200px;
        overflow-y: auto;
    }

}

.multi-select__option {
    display: flex;
    align-items: left;
    width: 100%;
    padding: 3px 7px;
    pointer-events: all;
}

.multi-select__option input[type=checkbox] {
    margin-right: 6px;
}

/* 
.multi-select__option:hover {
    background-color: #0077ff;
}

.multi-select__option.selected {
    background-color: #7e7e7e;
} */

.multi-select.expanded .multi-select__dropdown {
    display: block;
}

.multi-select__option.button:hover {
    background-color: #0077ff;
    cursor: pointer;
}