.custom-select {
    display: inline-block;
    min-width: 100px;
    width: stretch auto;
    position: relative;
    user-select: none;
    /* padding: 4px 6px; */
}

.custom-select__display {
    display: flex;
}

.custom-select__display-left {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.custom-select__display-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 5px;
}

.custom-select__dropdown {
    margin-top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: inherit;
    z-index: 20;
    cursor: default;
    display: none;
}

.custom-select__option {
    display: flex;
    align-items: left;
    width: 100%;
    padding: 3px 7px;
    pointer-events: all;
}

.custom-select__option input[type=checkbox] {
    margin-right: 6px;
}
/* 
.custom-select__option:hover {
    background-color: #0077ff;
}

.custom-select__option.selected {
    background-color: #7e7e7e;
} */

.custom-select.expanded .custom-select__dropdown {
    display: block;
}


.custom-select__option:hover {
    background-color: #002fff;
}

.custom-select__option.selected {
    background-color: #0099ff;
}

.custom-select__option.button:hover {
    cursor: pointer;
}