.app-navigation {
    position: fixed;
    width: 100%;
    background-color: var(--text-color);
    color: var(--primary-color);
    display: flex;
    border-bottom: 4px solid var(--primary-color);
    z-index: 90;
}

.app-navigation .--desktop-only {
    display: none;
}

.app-navigation__left {
    position: relative;
    /* width: 80%; */
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.app-navigation__center {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-navigation__right {
    position: relative;
    flex-grow: 1;
    /* width: 20%; */
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.app-navigation__button.side-panel-button {
    /* height: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

/* .app-navigation__button.side-panel-button div {
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    top: 0px;
}

.app-navigation__button.side-panel-button div::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    display: block;
    position: absolute;
    top: 4px;
}

.app-navigation__button.side-panel-button div::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    display: block;
    position: absolute;
    top: 8px;
} */

.app-navigation-element {
    padding: 15px 14px;
    /* flex-grow: 1;
    /* height: 100%; */

    &.profile-button {
        /* padding: 10px 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; */
    }
}

.profile-button__label {
    /* color: var(--primary-color); */
    font-weight: bold;
    margin-left: 10px;
}

.profile-button__preview {
    width: 30px;
    height: 30px;
    border-radius: 70px;
    background-color: var(--primary-color);
}

.app-navigation-element.app-logo {
    font-family: sans-serif;
    /* font-size: 18px; */
    font-weight: 900;
}

.app-navigation-element:not(.mobile-menu-button) {
    background-color: var(--text-color);
    color: var(--primary-color);
    transition: all 0.3s ease 0s;
}

.app-navigation-element.app-navigation__button:hover,
.app-navigation-element.app-navigation__button.current-url {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.app-navigation-element.app-navigation__button.current-url {
    cursor: default;
}

.app-navigation-element.mobile-button__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25% 14%;

    background-color: transparent !important;
}

.mobile-menu-button {
    position: relative;
    width: 40px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;

    &::before {
        content: "";
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        top: 0%;
        margin-top: -17%;
        left: 0;
        rotate: 0deg;
        transition: all 0.3s ease 0s;
    }

    &::after {
        content: "";
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        top: 0%;
        margin-top: 17%;
        left: 0;
        rotate: 0deg;
        transition: all 0.3s ease 0s;
    }


    &.active {

        background-color: transparent !important;

        &::before {
            margin-top: 0;
            rotate: 45deg;
        }

        &::after {
            margin-top: 0;
            rotate: -45deg;
        }

    }
}


@media (min-width: 1024px) {

    .app-navigation-element {
        /* padding: 0 14px; */
        /* height: 100%; */
        /* flex-grow: none; */
    }

    .app-navigation__left {
        flex-grow: 1;
        /* width: 80%; */
        justify-content: left;
    }

    .app-navigation__center {
        width: 60%;
    }

    .app-navigation__right {
        /* width: 20%; */
        /* flex-grow: 1; */
    }

    .app-navigation .--desktop-only {
        display: flex;
    }

    .app-navigation .--mobile-only {
        display: none;
    }

}