.add-task-modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 60;
    background-color: #0000008e;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal {
    width: 100%;
    height: 100%;
    /* width: 50%;
    height: 70%; */
    background-color: #fff;
    /* border-radius: 25px; */
    border: 8px solid #0b0bdb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-task-modal__header {
    width: 100%;
    height: 7%;
    /* height: 10%; */
    font-size: 26px;
    color: #0b0bdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal__title {
    /* width: 90%; */
    width: 70%;
    height: 10%;
    font-size: 26px;
    color: #0b0bdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal__button.close-modal-btn {
    width: 40px;
    height: 40px;
    background-color: #b40000;
    color: #fff;
}

.add-task-modal__button.close-modal-btn:hover {
    cursor: pointer;
    outline: 3px solid #ff0000;
    color: #ff0000;
}

.add-task-modal__content {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    padding: 10px 0;
}

.add-task-modal__block {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.add-task-modal__label {
    color: #0b0bdb;
}

.add-task-modal__input {
    outline: none;
    border: 2px solid #0b0bdb;
    padding: 0 1px;
    color: #0b0bdb;
}

.add-task-modal__select {
    outline: none;
    border: 2px solid #0b0bdb;
    padding: 0 1px;
    color: #0b0bdb;
    cursor: pointer;
}

.add-task-modal__select .multi-select__dropdown,
.add-task-modal__select .custom-select__dropdown {
    background-color: #0b0bdb;
    color: #fff;
}


.add-task-modal__input:focus {
    outline: 2px solid #00eeff;
}

.task-name-input {
    width: 70%;
}

.add-task-modal__button.add-task-button {
    width: 90%;
    padding: 5px 0;
    background-color: #0b0bdb;
    color: #00eeff;
    cursor: pointer;
    font-size: 20px;
}

.add-task-modal__button.add-task-button:hover {
    outline: 3px solid #00eeff;
}

.add-task-modal__buttons {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.add-task-modal__button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.add-task-modal__select.task-category-select {
    width: 55%;
}

.add-task-modal__select.task-user-select {
    width: 32%;
}

.add-task-modal__list.task-user-list {
    width: 80%;
    border: 2px solid #0b0bdb;
    color: #0b0bdb;
}

.add-task-modal__list.task-user-list .interactive-list__option.selected {
    background-color: #00eeff;
}

.add-task-modal {

    .notification-settings {
        width: 80%;
        border: 2px solid #0b0bdb;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notification-settings h1 {
        width: 100%;
        background-color: #0b0bdb;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 0;
        user-select: none;
    }

    .notification-settings__button.add-button {
        border: 2px solid #0b0bdb;
        color: #0b0bdb;
        padding: 0 16px;
        margin: 5px;
        cursor: pointer;
    }

    .notification-settings__button.add-button:hover {
        background-color: #0b0bdb;
        color: #fff;
    }

    .notification-settings__notification-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .notification-settings__notification {
        width: 95%;
        display: flex;
        color: #0b0bdb;
        border: 2px solid #0b0bdb;
        /* padding: 5px; */
    }

    .notification-settings__label {
        display: flex;
        white-space: pre;
    }

    .notification-settings__number {
        display: flex;
        height: 100%;
        display: flex;
        justify-content: center;
        /* border-right: 2px solid #0b0bdb; */
        padding: 5px 5px;
    }

    .notification-settings__block {
        padding: 5px;
        display: flex;
        align-items: center;
        border-left: 2px solid #0b0bdb;
        border-right: 2px solid #0b0bdb;
    }

    .notification-settings__input {
        border: 2px solid #0b0bdb;
        max-width: 60px;
        outline: none;
        margin: 0 5px;
    }

    .notification-settings__input:focus {
        outline: 2px solid #00eeff;
    }

    .notification-settings__button.remove-notification-btn {
        cursor: pointer;
        color: #ff0000;
        /* border: 1px solid #0b65db; */
        padding: 0 5px;
    }

    .notification-settings__button.remove-notification-btn:hover {
        background-color: #ff0000;
        color: #fff;
    }

}

.add-task-modal .--desktop-only {
    display: none;
}

.add-task-modal .--mobile-only {
    display: inherit;
}

.add-task-modal__block.complete-before-datetime-block {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}



.add-task-modal__error-block {
    width: 100%;
}


@media (min-width: 1024px) {

    .add-task-modal__error-block {
        width: 80%;
    }

    .add-task-modal .--mobile-only {
        display: none;
    }

    .add-task-modal .--desktop-only {
        display: flex;
    }

    .add-task-modal__block.complete-before-datetime-block {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 0;
    }

    .add-task-modal {
        width: 50%;
        height: 70%;
        border-radius: 25px;
    }

    .add-task-modal__header {
        height: 10%;
    }

    .add-task-modal__title {
        width: 90%;
    }

    .task-name-input {
        width: 50%;
    }

    .task-category-select {
        width: 50%;
    }

    .task-user-select {
        width: 50%;
    }

    .add-task-modal__buttons {
        align-items: center;
    }

}