.task-list {
    position: relative;
    max-width: 1360px;
    border: 4px solid #0077ff;
    width: calc(100% - 6px);
    /* border-radius: 10px; */
    min-height: 250px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-width: 15px;
}

.task-list__filters {
    /* top: 0;
    position: absolute;
    background-color: #fff; */
    z-index: 10;
    width: 100%;
    border-bottom: 9px solid #0077ff;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: all 0.2s ease 0s;
}

.task-list__filters.expanded {
    top: 0;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    height: auto;
}



.task-list__filters-list {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.task-list__filters-row {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 14px;
    /* display: none; */
    flex-direction: column;
    align-items: center;
}

.task-list__filters.expanded .task-list__filters-list {
    display: flex;
}

.task-list__filter {
    padding: 10px;
    width: 90%;
    height: 70%;
    border: 1px solid #002fff;
    color: #002fff;
    display: flex;
    align-items: center;
}


.task-list__button.filters-expand-button {
    min-width: 40px;
    border: 1px solid #002fff;
    padding: 0 10px;
    /* margin: 10px 0; */
    color: #002fff;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

.task-list__filters.expanded .task-list__button.filters-expand-button {
    margin-top: 10px;
    padding: 10px 10px;
    width: 100%;
    background-color: #002fff;
    color: #fff;
}

.task-list__button.filters-expand-button.--desktop-only {
    margin: 0 10px;
}

.task-list__button.filters-expand-button.--desktop-only:hover {
    background-color: #002fff;
    color: #fff;
}


.task-list__filters-title {
    font-size: 20px;
    color: #002fff;
    margin-left: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 5px; */
}

.task-list__content {
    width: 100%;
    display: block;
    max-height: 90%;
    overflow-y: auto;
}

.task-list__content::-webkit-scrollbar {
    position: relative;
    width: 5px;
    background-color: #002fff;
}

.task-list__content::-webkit-scrollbar-thumb {
    position: relative;
    width: 3px;
    background-color: #00f7ff;
}

.task-list__select {
    background-color: #0099ff;
    border-radius: 7px;
    color: #fff;
    padding: 4px;
    cursor: pointer;
    margin-left: 6px;
}

.task-list__select.user-filter-select {
    width: 300px;
}


.task-list__list.user-filter-list {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #002fff;
    color: #002fff;
}

.task-list__list.user-filter-list .interactive-list__option.selected {
    background-color: #00f7ff;
    color: #002fff;
}

.task-list__input.filters-search-input {
    border: 1px solid #002fff;
    margin: 0 10px;
    outline: none;
}

.task-list .--mobile-only {
    display: flex;
}

.task-list .--desktop-only {
    display: none;
}

@media (min-width: 1024px) {

    .task-list .--mobile-only {
        display: none;
    }

    .task-list .--desktop-only {
        display: flex;
    }

    .task-list {
        border-radius: 10px;
    }

    .task-list__filters {
        position: relative;
        flex-direction: row;
        height: auto;
        /* height: 60px; */
        transition: none;
    }

    .task-list__filters-list {
        display: block;
        /* height: auto; */
        flex-direction: column;
    }

    .task-list__filters-row {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        height: 60px;
    }

    .task-list__filter {
        width: auto;
        height: auto;
        min-width: 40px;
        border: 1px solid #002fff;
        padding: 0 10px;
        margin: 0 10px;
        color: #002fff;
        height: 75%;
        display: flex;
        align-items: center;
    }
}